#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 80%;
    margin: auto;
}
#container>div{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
div>img:nth-child(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
p+img{
    height: 50px;
}
#header{
    text-align: center;
}
p{
    color: grey;
}

@media all and (min-width:451px) and (max-width:750px){
    #container{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
}

@media all and (min-width:100px) and (max-width:450px){
    #container{
        grid-template-columns:1fr;
        width: 100%;
    }
}